.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elementBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.element {
  margin: 1vh;
  cursor: pointer;
}

.weaponBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.weapon {
  margin: 1vh;
  cursor: pointer;
}

.active {
  font-weight: 700;
}